.cursor
.cursorignore

example/plant/data
example/plant/orthofinder_analysis
example/plant/orthofinder_input
example/plant/paml
example/plant/results
example/plant/.snakemake
example/plant/work
example/plant/mcmctree

example/animal/data
example/animal/orthofinder_analysis
example/animal/orthofinder_input
example/animal/paml
example/animal/results
example/animal/.snakemake
example/animal/work
example/animal/mcmctree

.snakemake

*pyc
__pycache__/